.container {
    
    max-width: 800px;
    margin: 115px auto;
    padding: 0 15px;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.blog-header {
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
}

.blog-title {
    margin-bottom: 0.5em;
    font-size: 5em;
    font-weight: 700;
    line-height: 1;
}

.blog-meta {
    margin-bottom: 2em;
    font-size: 0.9em;
    color: #888;
}

.blog-image {
    margin-bottom: 20px;
    margin:0 auto;
}

.blog-image img {
    max-width: 100%;
}

.blog-description {
    margin-bottom: 30px;
    font-size: 1.2em;
    font-weight: 500;
    line-height: 1.6;
}

.blog-content {
    font-size: 1.1em;
    font-weight: 400;
    line-height: 1.6;
}

.header-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}